<div class="row">
    <div class="small-12 large-6 columns">
        <h2>Create an account,</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>

            <div><%= f.label :email %>
            <%= f.email_field :email, autofocus: true %></div>

            <div><%= f.label :password %>
            <%= f.password_field :password, autocomplete: "off" %></div>

            <div><%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

            <div><%= f.submit "Sign up", :class => 'btn btn-red' %></div>
        <% end %>
    </div>
    <div class="small-12 large-6 columns">
        <h2>...or just log in.</h2>
        <%= render "devise/shared/links" %>
    </div>
</div>
