<div class="row">
  <div class="small-12 columns">
    <h1>Manage Donateme</h1>
    <br>
    
    <h2>Campaigns</h2>

      <% for campaign in @campaigns %>
        <div class="row">
          <div class="large-3 columns">
            <h3>
              <%= link_to campaign.title, campaign_path(campaign) %>
            </h3>

            <p>
              <%= link_to 'Edit', edit_campaign_path(campaign), :class => 'button small' %>
              <%= link_to 'Delete Campaign', campaign_path(campaign), :confirm => "Are you sure you want to pernamently delete the campaign '#{campaign.title}'?", :method => :delete, :class => 'button small alert' %>
            </p>
          </div>

        </div>
      <% end %>
      <%= link_to "New event", new_campaign_path, :class => 'button small' %>
  </div>

  <br>
  <h2>Users</h2>
  <div class="small-12 columns">
    <% for user in @users %>
      <div class="row">
        <div class="large-3 columns">
          <h3>
            <%= link_to user.email %>
          </h3>

        </div>

      </div>
    <% end %>
  </div>

</div>
