<div class="row">
  <div class="small-12 columns">

    <h2>Current Campaigns</h2>
    <table>
      <% for campaign in @campaigns %>
        <tr>
          <td><h3><%= link_to campaign.title, campaign_path(campaign) %></h3></td>
          <td><%= link_to 'Edit', edit_campaign_path(campaign) %></td>
          <td><%= link_to 'Delete', campaign_path(campaign), :confirm => "Are you sure you want to pernamently delete the campaign '#{campaign.title}'?", :method => :delete %></td>
          <td><%= link_to 'Add Video', new_campaign_video_path(campaign) %></td>
          <td><%= link_to 'Add Image', new_campaign_image_path(campaign) %></td>
        </tr>
      <% end %>
    </table>

    <strong><%= link_to "Create Campaign", new_campaign_path, :class => 'button small' %></strong>
  </div>

  <div class="small-12 columns">
    <h2>Registered Users</h2>
    <table>
      <% for user in @users %>
        <tr>
          <td><h3><%= link_to user.name, user_path(user) %></h3></td>
          <td><%= link_to user.group, user_path(user) %></td>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <td><%= link_to 'Delete', user_path(user), :method => :delete %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="small-12 columns">
    <h2>Images</h2>
    <table>
        <% for campaign in @campaigns %>
          <% for image in campaign.images %>
            <tr>
              <td><%= image.url %></td>
              <td><%= campaign.title %></td>
            </tr>
          <% end %>
        <% end %>
    </table>
  </div>

  <div class="small-12 columns">
    <h2>Videos</h2>
      <table>
          <% for campaign in @campaigns %>
            <% for video in campaign.videos %>
              <tr>
                <td><%= video.url %></td>
                <td><%= campaign.title %></td>
              </tr>
            <% end %>
          <% end %>
      </table>
  </div>


</div>
