
    <div id="home-slider">
        <div class="md-slide-items md-slider" id="md-slider-1" data-thumb-width="105" data-thumb-height="70">
			<div class="md-slide-item slide-0" data-timeout="6000">
				<div class="md-mainimg"><%= image_tag "ex/th-slide0.jpg" %></div>
				<div class="md-objects">

                    <div class="md-object slide-with-background" data-x="20" data-y="58" data-width="500" data-height="120" data-padding-top="30" data-padding-bottom="30" data-padding-left="35" data-padding-right="35" data-start="300" data-stop="3600" data-easein="random" data-easeout="keep">
						<h2 class="rs slide-title">Cant find scholorships to cover your full tuition?</h2>
					</div>



					<!--<div class="md-object rs slide-description slide-with-background" data-x="20" data-y="160" data-width="480" data-height="90" data-start="1400" data-stop="7500" data-easein="random" data-easeout="keep">
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient monte.</p>
					</div>  -->
					<!--<div class="md-object" data-x="495" data-y="0" data-width="612" data-height="365" data-start="1800" data-stop="7500" data-easein="fadeInRight" data-easeout="keep" style=""><%= image_tag "ex/th-slide-man.png", :alt => "Search Money for Your Creative Ideas", size: "612x365" %></div>  -->
				</div>
			</div>
			<div class="md-slide-item slide-0" data-timeout="7000">
				<div class="md-mainimg"><%= image_tag "ex/th-slide1.jpg" %></div>
				<div class="md-objects">

                    <div class="md-object slide-with-background" data-x="20" data-y="58" data-width="500" data-height="120" data-padding-top="30" data-padding-bottom="30" data-padding-left="35" data-padding-right="35" data-start="300" data-stop="3600" data-easein="random" data-easeout="keep">
						<h2 class="rs slide-title">A place reserved for Intelligent Students</h2>
					</div>



					<!--<div class="md-object rs slide-description slide-with-background" data-x="20" data-y="160" data-width="480" data-height="90" data-start="1400" data-stop="7500" data-easein="random" data-easeout="keep">
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient monte.</p>
					</div>  -->
					<div class="md-object rs" data-x="20" data-y="260" data-width="120" data-height="23" data-padding-top="9" data-padding-bottom="7" data-padding-left="10" data-padding-right="10" data-start="1800" data-stop="7500" data-easein="random" data-easeout="keep">
					<!--	<a href="#" class="btn btn-gray">Learn more</a> -->
					</div>
					<!--<div class="md-object" data-x="495" data-y="0" data-width="612" data-height="365" data-start="1800" data-stop="7500" data-easein="fadeInRight" data-easeout="keep" style=""><%= image_tag "ex/th-slide-man.png",  :alt => "Search Money for Your Creative Ideas", :size => "612x365" %></div>  -->
				</div>
			</div>
			<!-- <div class="md-slide-item slide-1" data-timeout="8000">
				<div class="md-mainimg"><%= image_tag "ex/th-slide1.jpg" %></div>
				<div class="md-objects slide-with-background">
					<div class="md-object rs slide-title" data-x="40" data-y="38" data-width="390" data-height="30" data-start="700" data-stop="5500" data-easein="random" data-easeout="random">
						<p>A place reserved for Intelligent Students</p>
					</div>
					<div class="md-object rs slide-description2 " data-x="20" data-y="250" data-width="390" data-height="100" data-start="1400" data-stop="4500" data-easein="random" data-easeout="random">
						<p>Mauris volutpat, lectus vitae pretium sagittis, turpis augue euismod libero</p>
					</div>
					<div class="md-object" data-x="454" data-y="44" data-width="327" data-height="268" data-start="1000" data-stop="5500" data-easein="random" data-easeout="random" style=""><%= image_tag "ex/slide1_1.png", :alt => "Responsive", :size => "327x268" %></div>
					<div class="md-object" data-x="628" data-y="142" data-width="298" data-height="176" data-start="1600" data-stop="5100" data-easein="random" data-easeout="random" style=""><%= image_tag "ex/slide1_2.png", :alt => "Responsive", :size => "298x176" %></div>
					<div class="md-object" data-x="837" data-y="169" data-width="119" data-height="149" data-start="2200" data-stop="4800" data-easein="random" data-easeout="random" style=""><%= image_tag "ex/slide1_3.png", :alt => "Responsive", :size => "119x149" %></div>
					<div class="md-object" data-x="809" data-y="208" data-width="59" data-height="114" data-start="2800" data-stop="4500" data-easein="random" data-easeout="random" style=""><%= image_tag "ex/slide1_4.png", :alt => "Responsive", :size => "59x114" %></div>

				</div>
			</div> -->
			<div class="md-slide-item slide-2" data-timeout="9000">
				<div class="md-mainimg"><%= image_tag "ex/th-slide2.jpg" %></div>
				<div class="md-objects">
					<div class="md-object slide-with-background" data-x="20" data-y="58" data-width="500" data-height="190" data-padding-top="30" data-padding-bottom="30" data-padding-left="35" data-padding-right="35" data-start="300" data-stop="3600" data-easein="random" data-easeout="keep">
						<h2 class="rs slide-title">Gift Of Education</h2>
						<p class="rs slide-description2">DonateMe me gives you the power to help students from your hometown or going to your alma mater, by donating money towards their college tuition.

                        </p>
					</div>
				</div>
			</div>
		</div>
    </div><!--end: #home-slider -->




















    <div class="home-feature-category" style="padding-left:10%; padding-right:10%;">
        <div class="container_12 clearfix" style="width:95%;">
           <!--  <div class="grid_4 left-lst-category">
                <div class="wrap-lst-category">
                    <h3 class="title-welcome rs">Welcome to Donate Me</h3>
                    <p class="description rs">Find students in a specific geoprahy, universtiy, or studying a certain major</p>
                    <nav class="lst-category">
                        <ul class="rs nav nav-category">
                            <li>
                                <a href="#">
                                    New york
                                    <span class="count-val">(12)</span>
                                    <i class="icon iPlugGray"></i>
                                </a>
                            </li>
                            <li class="active">
                                <a href="#">
                                    New Jersey
                                    <span class="count-val">(12)</span>
                                    <i class="icon iPlugGray"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    California
                                    <span class="count-val">(12)</span>
                                    <i class="icon iPlugGray"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Texas
                                    <span class="count-val">(12)</span>
                                    <i class="icon iPlugGray"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Physics
                                    <span class="count-val">(12)</span>
                                    <i class="icon iPlugGray"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Computer Science
                                    <span class="count-val">(12)</span>
                                    <i class="icon iPlugGray"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Art
                                    <span class="count-val">(12)</span>
                                    <i class="icon iPlugGray"></i>
                                </a>
                            </li>
                        </ul>
                        <p class="rs view-all-category">
                            <a href="category.php" class="be-fc-orange">+ View all categories</a>
                        </p>
                    </nav><!--end: .lst-category -->
                <!-- </div> -->
            <!--</div>end: .left-lst-category  -->

            <% if @featured %>
                <div  class="grid_13 marked-category" >
                    <div class="wrap-title clearfix" >
                        <h2 class="title-mark rs">Staff Pick <span class="fc-orange">:</span></h2>
                        <!-- <a href="category.php" class="count-project be-fc-orange">See all <span class="fw-b">24</span> Comics projects</a> -->
                    </div>
                    <div class="box-marked-project project-short">
                        <div class="top-project-info">
                            <div class="content-info-short clearfix" >
                                <a href="campaign_path(@featured)" class="thumb-img">
                                    <img src="@featured.images.first.url" border="0" alt="@featured.images.first.alt" >
                                </a>
                                <div class="wrap-short-detail">
                                    <h3 class="rs acticle-title"><a class="be-fc-orange" href="project.php"><%= @featured.user.name %></a></h3>
                                    <p class="rs tiny-desc">is accepted to <a href="profile.php" class="fw-b fc-gray be-fc-orange">@featured.college</a><span class="fw-b fc-gray"></span></p>
                                    <p class="rs title-description"><%= @featured.body %></p>
                                </div>
                                <p class="rs clearfix comment-view">
                                    <!-- <a href="project-1.php" class="fc-gray be-fc-orange">75 comments</a> -->
                                    <span class="sep"></span>
                                    <!-- <a href="#" class="fc-gray be-fc-orange">378 views</a> -->
                                </p>
                            </div>
                        </div>

                        <!--end: .top-project-info -->
                        <div class="bottom-project-info clearfix" style="max-height:100px;">
                            <div class="project-progress sys_circle_progress" data-percent="76">
                                <div class="sys_holder_sector"></div>
                            </div>
                            <div class="group-fee clearfix">
                                <div class="fee-item">
                                    <p class="rs lbl">Backers</p>
                                    <span class="val">270</span>
                                </div>
                                <div class="sep"></div>
                                <div class="fee-item">
                                    <p class="rs lbl">Pledged</p>
                                    <span class="val">$38,000</span>
                                </div>
                                <div class="sep"></div>
                                <div class="fee-item">
                                    <p class="rs lbl">Days Left</p>
                                    <span class="val">25</span>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div><!--end: .marked-category -->
                <div class="clear"></div>
            </div>
        </div><!--end: .home-feature-category -->
    <% end %>





<!-- make a java script function that set the opecity to 50% -->

    <div class="home-popular-project"  style = "background-color: #5c666b; max-height: 600px; height:630px;">
       <iframe id ="ytplayer" width="60%" height="80%" src="//www.youtube.com/embed/sgzFtDP1jj4" frameborder="0" allowfullscreen="" style="

    margin-top: 3%;
    margin-bottom:3%;
    margin-left: 20%;
    margin-right: 380%;
    border-width: 5px;
    border-color: floralwhite;"></iframe>
    </div>



<!-- student profile loop on the home page -->




    <div class="home-popular-project">
        <div class="container_12">
            <div class="grid_12 wrap-title">
                <h2 class="common-title">Popular</h2>
                <!-- <a class="be-fc-orange" href="category.php">View all</a> -->
            </div>
            <div class="clear"></div>
            <div class="lst-popular-project clearfix">



<% @popular.each do |campaign| %>
    <div class="grid_3">
        <div class="project-short sml-thumb">
            <div class="top-project-info" style=" max-height: 325; min-height: 325; height:325px;">
                <div class="content-info-short clearfix">
                    <a href="<%= campaign_path(campaign) %>" class="thumb-img thumb-avatar">
                        <img src="campaign.images.first.url" style='width: 100%;' border="0" alt="campaign.images.first.alt" >
                    </a>
                    <div class="wrap-short-detail">
                        <h3 class="rs acticle-title"><a class="be-fc-orange" href="project.php"><%= campaign.title %></a></h3>
                        <!-- <p class="rs tiny-desc">by <a href="profile.php" class="fw-b fc-gray be-fc-orange"><?php echo $profiles['first_name']; ?></a></p> -->
                        <p class="rs title-description"><%= campaign.body %></p>
                        <p class="rs project-location">
                            <i class="icon iLocation"></i>
                            New York, NY
                        </p>
                    </div>
                </div>
            </div>
            <div class="bottom-project-info clearfix">
                <div class="line-progress">
                    <%= percentage_collected = 50 %>
                    <!-- #campaign.goal -->
                    <div class="bg-progress">
                        <span  style="width:<?php echo $percentage_collected; ?>%"></span>
                    </div>
                </div>
                <div class="group-fee clearfix">
                    <div class="fee-item">
                        <p class="rs lbl">Funded</p>
                        <span class="val"><%= percentage_collected %>%</span>
                    </div>
                    <div class="sep"></div>
                    <div class="fee-item">
                        <p class="rs lbl">Pledged</p>

                        <span class="val">$<%= 50 %></span>
                    </div>
                    <div class="sep"></div>
                    <div class="fee-item">
                        <p class="rs lbl">Days Left</p>
                        <span class="val">25</span>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end: .grid_3 > .project-short-->
<% end %>

<!-- student profile loop end -->
<!--
    <div class="home-discover-friends">
        <div class="container_12">
            <div class="row-friends">
                <a class="thumb-avatar" href="#"><img src="images/ex/th-119x119-1.jpg" alt="$USER_NAME"/></a>
                <a class="thumb-avatar" href="#"><img src="images/ex/th-119x119-2.jpg" alt="$USER_NAME"/></a>
                <a class="thumb-avatar" href="#"><img src="images/ex/th-119x119-3.jpg" alt="$USER_NAME"/></a>
                <a class="thumb-avatar" href="#"><img src="images/ex/th-119x119-4.jpg" alt="$USER_NAME"/></a>
                <a class="thumb-avatar" href="#"><img src="images/ex/th-119x119-5.jpg" alt="$USER_NAME"/></a>
                <a class="thumb-avatar" href="#"><img src="images/ex/th-119x119-6.jpg" alt="$USER_NAME"/></a>
                <a class="thumb-avatar" href="#"><img src="images/ex/th-119x119-7.jpg" alt="$USER_NAME"/></a>
                <a class="thumb-avatar" href="#"><img src="images/ex/th-119x119-8.jpg" alt="$USER_NAME"/></a>
                <div class="clear"></div>
            </div>
            <div class="row-friends row-connect-fb">
                <a class="thumb-avatar t-first" href="#"><img src="images/ex/th-119x119-17.jpg" alt="$USER_NAME"/></a>
                <div class="connect-fb">
                    <p class="rs description"> Discover Great Students you may like </p>
                    <a href="#" class="btn btn-fb">Connect With Facebook</a>
                </div>
                <a class="thumb-avatar t-last" href="#"><img src="images/ex/th-119x119-1.jpg" alt="$USER_NAME"/></a>
                <div class="clear"></div>
            </div>
            <div class="row-friends">
                <a class="thumb-avatar" href="#"><img src="images/ex/th-119x119-9.jpg" alt="$USER_NAME"/></a>
                <a class="thumb-avatar" href="#"><img src="images/ex/th-119x119-10.jpg" alt="$USER_NAME"/></a>
                <a class="thumb-avatar" href="#"><img src="images/ex/th-119x119-11.jpg" alt="$USER_NAME"/></a>
                <a class="thumb-avatar" href="#"><img src="images/ex/th-119x119-12.jpg" alt="$USER_NAME"/></a>
                <a class="thumb-avatar" href="#"><img src="images/ex/th-119x119-13.jpg" alt="$USER_NAME"/></a>
                <a class="thumb-avatar" href="#"><img src="images/ex/th-119x119-14.jpg" alt="$USER_NAME"/></a>
                <a class="thumb-avatar" href="#"><img src="images/ex/th-119x119-15.jpg" alt="$USER_NAME"/></a>
                <a class="thumb-avatar" href="#"><img src="images/ex/th-119x119-16.jpg" alt="$USER_NAME"/></a>
                <div class="clear"></div>
            </div>
        </div>
    </div> --><!--end: .home-discover-friends -->

    <!-- <div class="additional-info-line">
        <div class="container_12">
            <div class="grid_9">
                <h2 class="rs title">Find out how we make your college dream happen</h2>
                <p class="rs description">Duis placerat malesuada sapien, eu consequat mauris vestibulum vitae. Aliquam fermentum lorem ut leo ultricies semper. In sed ligula massa, vitae elementum mauris.</p>
            </div>
            <div class="grid_3 ta-r">
                <a class="btn bigger btn-red" href="how-we-work.php">How we work</a>
            </div>
            <div class="clear"></div>
        </div>
    </div> --><!--end: .additional-info-line -->
