<div id="home-slider">
    <div class="md-slide-items md-slider" id="md-slider-1" data-thumb-width="105" data-thumb-height="70">
		<div class="md-slide-item slide-0" data-timeout="6000">
			<div class="md-mainimg"><%= image_tag "ex/th-slide0.jpg" %></div>
			<div class="md-objects">

                <div class="md-object slide-with-background" data-x="20" data-y="58" data-width="750" data-height="150" data-padding-top="30" data-padding-bottom="30" data-padding-left="35" data-padding-right="35" data-start="300" data-stop="7200" data-easein="random" data-easeout="keep">
					<h2 class="rs slide-title">&ldquo;Crowdfunding&rdquo; for college tuition</h2>
                    <p class="rs slide-description2">Many people making small donations can help disadvantaged students reach big goals.</p>
				</div>
			</div>
		</div>
		<div class="md-slide-item slide-0" data-timeout="7000">
			<div class="md-mainimg"><%= image_tag "ex/th-slide1.jpg" %></div>
			<div class="md-objects">

                <div class="md-object slide-with-background" data-x="20" data-y="58" data-width="400" data-height="170" data-padding-top="30" data-padding-bottom="30" data-padding-left="35" data-padding-right="35" data-start="300" data-stop="3600" data-easein="random" data-easeout="keep">
					<h2 class="rs slide-title">Raise money to go to college</h2>
				</div>

				<div class="md-object rs" data-x="20" data-y="260" data-width="120" data-height="23" data-padding-top="9" data-padding-bottom="7" data-padding-left="10" data-padding-right="10" data-start="1800" data-stop="7500" data-easein="random" data-easeout="keep">
				</div>
			</div>
		</div>
		<div class="md-slide-item slide-2" data-timeout="9000">
			<div class="md-mainimg"><%= image_tag "ex/th-slide2.jpg" %></div>
			<div class="md-objects">
				<div class="md-object slide-with-background" data-x="20" data-y="58" data-width="600" data-height="150" data-padding-top="30" data-padding-bottom="30" data-padding-left="35" data-padding-right="35" data-start="300" data-stop="3600" data-easein="random" data-easeout="keep">
					<h2 class="rs slide-title">Give the Gift Of Education</h2>
					<p class="rs slide-description2">Donate to intelligent students to help turn their dreams into a reality.</p>
				</div>
			</div>
		</div>
	</div>
</div><!--end: #home-slider -->

<div class="home-feature-category" style="padding-left:10%; padding-right:10%;">
    <div class="container_12 clearfix" style="width:95%;">
        <% if @featured %>
            <div  class="grid_13 marked-category">
                <div class="wrap-title clearfix">
                    <h2 class="title-mark rs">Staff Pick<span class="fc-orange">:</span></h2>
                </div>
                <div class="box-marked-project project-short">
                    <div class="top-project-info">
                        <div class="content-info-short clearfix" >
                            <a href="<%= campaign_path(@featured) %>" class="thumb-img">
                                <% if @featured.images.size > 0 %>
                                    <div class="crop-img">
                                    <img src="<%= @featured.images.first.url %>" border="0" alt="<%= @featured.images.first.alt %>" >
                                    </div>
                                <% end %>
                            </a>
                            <div class="wrap-short-detail">
                                <h3 class="rs acticle-title"><a class="be-fc-orange" href="<%= campaign_path(@featured) %>"><%= @featured.user.name %></a></h3>
                                <p class="rs tiny-desc">is accepted to <a href="<%= campaign_path(@featured) %>" class="fw-b fc-gray be-fc-orange"><%= @featured.school.name %></a><span class="fw-b fc-gray"></span></p>
                                <p class="rs title-description"><%=raw @featured.essay_html(260) %>
                                <%= link_to "Read more.", campaign_path(@featured), :class => "btn btn-small" %>
                                </p>
                            </div>
                            <p class="rs clearfix comment-view">
                                <span class="sep"></span>
                            </p>
                        </div>
                    </div>

                    <div class="bottom-project-info clearfix" style="max-height:100px;">
                        <div class="project-progress sys_circle_progress" data-percent="<%= @featured.progress %>">
                            <div class="sys_holder_sector"></div>
                        </div>
                        <div class="group-fee clearfix">
                            <div class="fee-item">
                                <p class="rs lbl">Backers</p>
                                <span class="val"><%= @featured.backers %></span>
                            </div>
                            <div class="sep"></div>
                            <div class="fee-item">
                                <p class="rs lbl">Pledged</p>
                                <span class="val"><%= number_to_currency(@featured.pledged/100) %></span>
                            </div>
                            <div class="sep"></div>
                            <div class="fee-item">
                                <p class="rs lbl">Days Left</p>
                                <span class="val"><%= @featured.left %></span>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div><!--end: .marked-category -->
            <div class="clear"></div>
        </div>
    </div><!--end: .home-feature-category -->
<% end %>

<!-- make a java script function that set the opecity to 50% -->
<div class="home-popular-project"  style = "background-color: #5c666b; max-height: 600px; height:630px;">
    <iframe id ="ytplayer" width="60%" height="80%" src="//www.youtube.com/embed/sgzFtDP1jj4" frameborder="0" allowfullscreen="" style="
        margin-top: 3%;
        margin-bottom:3%;
        margin-left: 20%;
        margin-right: 380%;
        border-width: 5px;
        border-color: floralwhite;"></iframe>
</div>

<div class="home-popular-project">
    <div class="container_12">
        <div class="grid_12 wrap-title">
            <h2 class="common-title">Popular</h2>
        </div>
        <div class="clear"></div>
        <div class="lst-popular-project clearfix">
            <% @popular.each do |campaign| %>
            <div class="grid_4">
                <div class="project-short sml-thumb">
                    <div class="top-project-info" style="max-height: 460[x]; min-height: 460px; height: 460px;">
                        <div class="content-info-short clearfix">
                            <a href="<%= campaign_path(campaign) %>" class="thumb-img thumb-avatar">
                                <% if campaign.images.size > 0 %>
                                    <div class="crop-img">
                                        <img src="<%= campaign.images.first.url %>" alt="<%= campaign.images.first.alt %>">
                                    </div>
                                <% end %>
                            </a>
                            <div class="wrap-short-detail">
                                <h3 class="rs acticle-title"><a class="be-fc-orange" href="<%= campaign_path(campaign) %>"><%= campaign.user.name %></a></h3>
                                <p class="rs title-description"><%=raw campaign.essay_html(100) %></p>
                                <p class="rs project-location">
                                    <i class="icon iLocation"></i>
                                    New York, NY
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="bottom-project-info clearfix">
                        <div class="line-progress">
                            <!-- #campaign.goal -->
                            <div class="bg-progress">
                                <span style="width:<%= campaign.progress %>%"></span>
                            </div>
                        </div>
                        <div class="group-fee clearfix">
                            <div class="fee-item">
                                <p class="rs lbl">Funded</p>
                                <span class="val"><%= campaign.progress %>%</span>
                            </div>
                            <div class="sep"></div>
                            <div class="fee-item">
                                <p class="rs lbl">Pledged</p>

                                <span class="val"><%= number_to_currency(campaign.pledged/100) %></span>
                            </div>
                            <div class="sep"></div>
                            <div class="fee-item">
                                <p class="rs lbl">Days Left</p>
                                <span class="val"><%= campaign.left %></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end: .grid_3 > .project-short-->
            <% end %>
        </div>
    </div>
</div>
