<div class="layout-2cols">
    <div class="content grid_8">
        <div class="single-page">
            <div class="wrapper-box box-post-comment">
                <h2 class="common-title">New Donation</h2>
                <div class="box-white">
                    <%= form_for :donation, url: campaign_donations_path(@campaign) do |f| %>
                        <div class="row">
                          <div class="small-12 large-4 columns">
                            <%= f.label :amount %>
                            <%= f.text_field :amount %>
                          </div>

                        </div>

                        <p class="rs ta-r clearfix">
                            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                  data-image="<%= asset_path('donate_logo_square.png') %>"
                                  data-name="DonateMe"
                                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                                  data-description="<%= @campaign.user.name %>"
                                  data-email="<%= current_user.email %>"
                                  data-amount="500"></script>
                        </p>
                    <% end %>
                </div>
            </div><!--end: .box-list-comment -->
        </div>
    </div><!--end: .content -->
    <div class="clear"></div>
</div>
