<div class="row">

  <!--<div class="small-12 large-4 columns">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>-->

  <div class="small-12 large-4 columns">
    <%= f.label :goal %>
    <%= f.text_field :goal %>
  </div>

  <%= collection_select(:campaign, :school_id, School.all, :id, :name) %>

  <%= collection_select(:campaign, :user_id, User.all, :id, :name) %>

  <div class="small-12 large-4 columns">
    <%= f.label :body %>
    <%= f.text_field :body %>
  </div>

  <div class="small-12 large-4 columns">
    <%= f.label :gpa %>
    <%= f.text_area :gpa %>
  </div>

  <div class="small-12 large-4 columns">
    <%= f.label :start %>
    <%= f.datetime_select :start,
      {
        :ampm => true,
        :minute_step => 15,
        :datetime_separator => '<div class="small-4 columns"> &nbsp; </div>',
        :time_separator => ""
      }, {
        :class => "small-4 datetime columns"
      } %>
  </div>

  <div class="small-12 large-4 columns">
    <%= f.label :end %>
    <%= f.datetime_select :end,
      {
        :ampm => true,
        :minute_step => 15,
        :datetime_separator => '<div class="small-4 columns"> &nbsp; </div>',
        :time_separator => ""
      }, {
        :class => "small-4 datetime columns"
      } %>
  </div>
</div>
