<h1><%= @campaign.title %></h1>

<ul>
  <li><strong>Goal:</strong> <%= @campaign.goal %>
  <li><strong>Body:</strong> <%= @campaign.body %>
  <li><strong>GPA:</strong> <%= @campaign.gpa %>
  <li><strong>Time:</strong> <%= @campaign.start.to_s(:short) %> &mdash; <%= @campaign.end.to_s(:short) %>
</ul>

<p> This will be a link to a video or iframe </p>
<p> This will also include an image </p>
<p> Show the donations or how close to goal </p>
