<h1><%= @campaign.title %></h1>

<h4>Stats</h4>
  <li><strong>Goal:</strong> <%= @campaign.goal %>
  <li><strong>Body:</strong> <%= @campaign.body %>
  <li><strong>GPA:</strong> <%= @campaign.gpa %>
  <li><strong>Length:</strong> <%= @campaign.start.to_s(:short) %> &mdash; <%= @campaign.end.to_s(:short) %></li>

<h4>Current Images</h4>
<% for image in @campaign.images %>
  <li><%= image.url %></li>
<% end %>

<h4>Current Videos</h4>
<% for video in @campaign.videos %>
  <li><%= video.url %></li>
<% end %>
<br>
<%= link_to 'Give Donation', new_campaign_donation_path(@campaign), :class => 'button small'  %>

<h4>Current Donations</h4>
<% for donation in @campaign.donations %>
  <li><%= donation.amount %> <%= donation.user.name %> </li>
<% end %>
