<!DOCTYPE html>
<html>
<head>
  <title>DonateMe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user.try(:is_admin?) %>
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to "Admin Console", admins_path  %></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <ul class="left">
          <li><%= link_to "New Campaign", new_campaign_path %></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
        </ul>
      </section>
    </nav>
<% end %>
<div id="wrapper">
     <header id="header">
            <div class="wrap-top-menu">
                <div class="container_12 clearfix container-12-add-color">
                    <div class="grid_12">
                        <nav class="top-menu">
                            <ul id="main-menu" class="nav nav-horizontal clearfix">
                                <!-- <li class="active"><a href="index.php">Home</a></li> -->
                                <!-- <li class="sep"></li> -->



                              <!--  <li><a href="all-pages.html">All Pages</a></li>
                                <li class="sep"></li>
                                <li><a href="how-it-work.html">Help</a></li>
                                <li class="sep"></li>
                                <li><a href="contact.html">Contact</a></li> -->
                                <!-- <li>This is site in development and not fully functional, but we would love to get your feed back at info@donateme.org</li> -->
                            </ul>
                            <a id="btn-toogle-menu" class="btn-toogle-menu" href="#alternate-menu">
                                <span class="line-bar"></span>
                                <span class="line-bar"></span>
                                <span class="line-bar"></span>
                            </a>
                            <div id="right-menu">
                                <ul class="alternate-menu">
                                    <li><a href="/">Home</a></li>
                                    <!-- <li><a href="all-pages.html">All Pages</a></li> -->
                                    <!-- <li><a href="how-it-work.html">Help</a></li> -->
                                    <li><a href="/about">About</a></li>
                                </ul>
                            </div>
                        </nav>
                        <div class="top-message clearfix">
                            <i class="icon iFolder"></i>
                            <!-- <span class="txt-message">Logged in as </span> -->
                            <i class="icon iX"></i>
                            <div class="clear"><%= current_user.name if user_signed_in? %></div>
                        </div>

                        <i id="sys_btn_toggle_search" class="icon iBtnRed make-right"></i>
                    </div>
                </div>
            </div><!-- end: .wrap-top-menu -->
            <div class="container_12 clearfix">
                <div class="grid_12 header-content">
                    <h1 id="logo">
                        <%= link_to image_tag("logo.png", :alt => "DonateMe"), root_path %>
                    </h1>
                    <ul class="main-nav clearfix">
                        <li><a href="/about">About</a></li>
                        <% if user_signed_in? %>
                            <% # link_to current_user.name, 'admins', :class => "btn btn-red-edit btn-red" %>
                            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
                        <% else %>
                            <li><%= link_to "Sign up", new_registration_path('user') %></li>
                            <li><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), :class => "btn btn-blue" %></li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </header><!--end: #header -->

        <% if notice or alert %>
        <div class="row">
            <div class="small-12 columns">
                <p class="notice"><%= notice %></p>
                <p class="alert"><%= alert %></p>
            </div>
        </div>
        <% end %>

        <%= yield %>


         <footer id="footer">
            <div class="copyright">
                <div class="container_12">
                    <div class="grid_12">
                        <p class="rs term-privacy">
                            <span class="sep"></span>
                            <a class="fw-b be-fc-orange" href="/about">About</a>
                            <span class="sep">/</span>
                            <a class="fw-b be-fc-orange" href="/team">Team</a>
                            <span class="sep">/</span>
                            <a class="fw-b be-fc-orange" href="/policy">Privacy Policy</a>
                            <span class="sep">/</span>
                            © 2014 Donate Me
                        </p>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </footer><!--end: #footer -->
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-36619023-1', 'donateme.org');
      ga('send', 'pageview');

    </script>
</body>
</html>
